.LandingComponent {
    width: 100vw;
    height: 100vh;
}

.LandingInformationSquare {
    position: absolute;
    bottom: 30%;
    left: calc(50% - (17rem / 2));
}

.LandingInformationSquare > h1 {
    display: inline-block;
    /* font-size: 40px; */
}

.LandingComponentR2HLogoContainer {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    width: 500px;
    height: 300px;
}

.LandingComponentR2HLogo {
    width: 100%;
    height: 100%;
}

.LandingComponentMouseScrollHint {
    position: absolute;
    right: 5%;
    bottom: 10%;
}

.LandingComponentMouseScrollHintIcon {
    width: 8rem;
    position: absolute;
    top: 1rem;
    /* right: 1rem; */
    transform: translate(-13.5%);
    filter: invert(100%);
}
