.MainPageComponent {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.MainPagePanel {
    width: 100%;
    height: 100%;
}

.PanelContainer {
    width: 100%;
    height: 100%;
}

.MainPageComponentBackgroundDiv {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}
